<%= form_tag() %>

  <div class="field">
    <%= label_tag "nome_busca" %><br>
    <%= text_field_tag "nome_busca" , 'Digite um nome'%>

  </div>

  <div class="actions">
    <%= submit_tag "Busca" %>
  </div> 



<table align="center">
	<tr>
		<th> Nome </th>
		<th> Servico</th>
	</tr>
	
	<% @order.each do |c| %>
	<tr>
		<td> <%= c.client.nome %> </td>
		<td> <%= c.service.descricao %> </td>
	</tr>
	<% end %>
	
	<% if @order.count==0 %>
		<em>Dado não localizado</em>
	<%end%>

</table>


<br/><br/>
<%= link_to 'back', root_path %>