<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order_service.client.nome %>
</p>

<p>
  <strong>Part:</strong>
  <%= @order_service.part.descricao %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order_service.service.descricao %>
</p>

<%= link_to 'Edit', edit_order_service_path(@order_service) %> |
<%= link_to 'Back', order_services_path %>
